body{
    margin: 0;
    font-family: sans-serif;
    font-size: 12pt;
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    background-image: linear-gradient(rgb(70, 91, 100),rgb(100,130,130));
    color: rgb(237, 237, 237);
    z-index: 3;
}

a{
    color: black;
}

nav > a{
    text-decoration: none;
    font-size: 14pt;
    color: rgb(240,240,240);
    margin: 10px;
    padding: 2px;
}

nav > a:hover{
    border-bottom: 2px solid white;
}

.active_tab{
    border-bottom: 2px solid white;
}

footer{
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-top: 1px solid black;
}

table{
    border-spacing: 0;
    font-size: 11pt;
}

thead{
    background-color: rgb(100,130,130);
}

thead{
    position: sticky;
    top:0;
}

th{
    font-weight:600;
    color:rgb(255, 255, 255);
}

th, td{
    border: 1px solid rgb(50, 50, 50);
    padding: 4px;
    margin: 0;
}

#content_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 1;
}

article{
    max-width: 700px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

article h1{
    font-size: 16pt;
    font-weight: 500;
}

code{
    background-color:rgb(240,240,240);
    border-radius: 8px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

pre, .pygments-highlight{
    background-color: rgb(240, 240, 240);
    max-width: 800px;
    overflow-x: scroll;
    padding: 10px;
    border-radius: 8px;
}

#table_container{
    width:100%;
    height:90vh;
    overflow:auto;
}

.loading_div{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide_loading{
    display: none;
}

/* CSS for code highlighting */
/* generated with pygments library */
pre { line-height: 125%;}
td.linenos .normal { color: #666666; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #666666; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.pygments-highlight .hll { background-color: #ffffcc }
.pygments-highlight { background: #f0f0f0; }
.pygments-highlight .c { color: #60A0B0; font-style: italic } /* Comment */
.pygments-highlight .err { border: 1px solid #F00 } /* Error */
.pygments-highlight .k { color: #007020; font-weight: bold } /* Keyword */
.pygments-highlight .o { color: #666 } /* Operator */
.pygments-highlight .ch { color: #60A0B0; font-style: italic } /* Comment.Hashbang */
.pygments-highlight .cm { color: #60A0B0; font-style: italic } /* Comment.Multiline */
.pygments-highlight .cp { color: #007020 } /* Comment.Preproc */
.pygments-highlight .cpf { color: #60A0B0; font-style: italic } /* Comment.PreprocFile */
.pygments-highlight .c1 { color: #60A0B0; font-style: italic } /* Comment.Single */
.pygments-highlight .cs { color: #60A0B0; background-color: #FFF0F0 } /* Comment.Special */
.pygments-highlight .gd { color: #A00000 } /* Generic.Deleted */
.pygments-highlight .ge { font-style: italic } /* Generic.Emph */
.pygments-highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.pygments-highlight .gr { color: #F00 } /* Generic.Error */
.pygments-highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.pygments-highlight .gi { color: #00A000 } /* Generic.Inserted */
.pygments-highlight .go { color: #888 } /* Generic.Output */
.pygments-highlight .gp { color: #C65D09; font-weight: bold } /* Generic.Prompt */
.pygments-highlight .gs { font-weight: bold } /* Generic.Strong */
.pygments-highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.pygments-highlight .gt { color: #04D } /* Generic.Traceback */
.pygments-highlight .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.pygments-highlight .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.pygments-highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.pygments-highlight .kp { color: #007020 } /* Keyword.Pseudo */
.pygments-highlight .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.pygments-highlight .kt { color: #902000 } /* Keyword.Type */
.pygments-highlight .m { color: #40A070 } /* Literal.Number */
.pygments-highlight .s { color: #4070A0 } /* Literal.String */
.pygments-highlight .na { color: #4070A0 } /* Name.Attribute */
.pygments-highlight .nb { color: #007020 } /* Name.Builtin */
.pygments-highlight .nc { color: #0E84B5; font-weight: bold } /* Name.Class */
.pygments-highlight .no { color: #60ADD5 } /* Name.Constant */
.pygments-highlight .nd { color: #555; font-weight: bold } /* Name.Decorator */
.pygments-highlight .ni { color: #D55537; font-weight: bold } /* Name.Entity */
.pygments-highlight .ne { color: #007020 } /* Name.Exception */
.pygments-highlight .nf { color: #06287E } /* Name.Function */
.pygments-highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
.pygments-highlight .nn { color: #0E84B5; font-weight: bold } /* Name.Namespace */
.pygments-highlight .nt { color: #062873; font-weight: bold } /* Name.Tag */
.pygments-highlight .nv { color: #BB60D5 } /* Name.Variable */
.pygments-highlight .ow { color: #007020; font-weight: bold } /* Operator.Word */
.pygments-highlight .w { color: #BBB } /* Text.Whitespace */
.pygments-highlight .mb { color: #40A070 } /* Literal.Number.Bin */
.pygments-highlight .mf { color: #40A070 } /* Literal.Number.Float */
.pygments-highlight .mh { color: #40A070 } /* Literal.Number.Hex */
.pygments-highlight .mi { color: #40A070 } /* Literal.Number.Integer */
.pygments-highlight .mo { color: #40A070 } /* Literal.Number.Oct */
.pygments-highlight .sa { color: #4070A0 } /* Literal.String.Affix */
.pygments-highlight .sb { color: #4070A0 } /* Literal.String.Backtick */
.pygments-highlight .sc { color: #4070A0 } /* Literal.String.Char */
.pygments-highlight .dl { color: #4070A0 } /* Literal.String.Delimiter */
.pygments-highlight .sd { color: #4070A0; font-style: italic } /* Literal.String.Doc */
.pygments-highlight .s2 { color: #4070A0 } /* Literal.String.Double */
.pygments-highlight .se { color: #4070A0; font-weight: bold } /* Literal.String.Escape */
.pygments-highlight .sh { color: #4070A0 } /* Literal.String.Heredoc */
.pygments-highlight .si { color: #70A0D0; font-style: italic } /* Literal.String.Interpol */
.pygments-highlight .sx { color: #C65D09 } /* Literal.String.Other */
.pygments-highlight .sr { color: #235388 } /* Literal.String.Regex */
.pygments-highlight .s1 { color: #4070A0 } /* Literal.String.Single */
.pygments-highlight .ss { color: #517918 } /* Literal.String.Symbol */
.pygments-highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.pygments-highlight .fm { color: #06287E } /* Name.Function.Magic */
.pygments-highlight .vc { color: #BB60D5 } /* Name.Variable.Class */
.pygments-highlight .vg { color: #BB60D5 } /* Name.Variable.Global */
.pygments-highlight .vi { color: #BB60D5 } /* Name.Variable.Instance */
.pygments-highlight .vm { color: #BB60D5 } /* Name.Variable.Magic */
.pygments-highlight .il { color: #40A070 } /* Literal.Number.Integer.Long */