{%extends "base.html"%}

{%block stats_active%}active_tab{%endblock%}

{%block body%}

<p>Basic statistics related to the data.</p>
<table>
    <thead>
        <th>Description</th>
        <th>Value</th>
    </thead>
    <tbody>
        <tr>
            <td>Start Date</td>
            <td>01 September 2025</td>
        </tr>
        <tr>
            <td>End Date</td>
            <td>30 September 2025</td>
        </tr>
        <tr>
            <td>Total Records</td>
            <td>225</td>
        </tr>
        <tr>
            <td>Records with no fees</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Scrap Date</td>
            <td>15 November 2025</td>
        </tr>
    </tbody>
</table>


{%endblock%}